@import 'font.css';

/* Rounded border */
hr.rounded {
    width: 100%;
    border-top: 8px solid #ffbf00;
    border-radius: 5px;
}

/* Posters */

/* Headings */
.site-header {
    font-family: 'Roboto-Black', system-ui;
    font-size: 28pt;
    margin-bottom: 0;
    color: #ffbf00;
    text-align: center;
}