@import 'font.css';

body {
    background-color: #f7f7f7;
}

.roboto {
    font-family: 'Roboto', system-ui;
}

/* Rounded border */
hr.rounded {
    width: 100%;
    border-top: 3px solid #ffbf00;
    border-radius: 5px;
}

.site-header {
    display: flex;
    flex-direction: row;
}

.sidebar-toggle {
    flex: 0.01;
    width: 30px;
    padding-right: 0;
    margin-right: 0;
    text-align: left;
}

.site-title {
    flex: 1;
    font-family: 'Roboto-Medium', system-ui;
    font-size: 100%;
    color: #ffbf00;
    text-align: center;
    justify-content: center;
}

.memoji {
    flex: 0.1;
    height: 40px;
    width: 30px;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
}

/* Test styling
.push {
    margin-left: 43%;
    transition: margin-left 1s;
}

.no-push {
    margin-left: 0%;
    transition: margin-left 1s;
}
*/

.sidebar {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ffbf00;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.75s;

}

.sidebar-hidden {
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ffbf00;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.75s;
}

.sidebar a, .sidebar-hidden a {
    padding: 1em 0em 1em 0em;
    margin: 0em 0em 0em 0em;
}

.sidebar h1, .sidebar-hidden h1 {
    padding: 0% 0% 0% 0%;
    margin: 0%;
    color: blue;
}

.sidebar-header {
    display: inline-block;
}

.sidebar-title {
}

.sidebar-exit {

}

.site-footer {
    padding-top: 10px;
    text-align: center;
    font-size: x-small;
    height: 5em;
}

.review {
    text-align: center;
    font-size: large;
}

.review h4 {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.spoilers hr {
    width: 50%;
    border-top: 3px solid #ffbf00;
    border-radius: 5px;
}

.spoilers h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.review-text {
    font-size: large;
    width: 95%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.poster img {
    max-width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 10px;
}

.details-header hr {
    width: 95%;
    border-top: 3px solid #ffbf00;
    border-radius: 5px;
}

.details {
    text-align: center;
}

.details-header h4 {
    font-size: large;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.details-table {
    font-size: small;
    text-align: left;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 10px 0em;
}

.details-table td {
    vertical-align: top;
}

@media only screen and (min-width: 500px) {
    .details-table {
        font-size: medium;
    }
}

@media only screen and (min-width: 1000px) {
    .sidebar {
        width: 15%;
    }

    .push {
        margin-left: 18%;
        transition: margin-left 0.75s;
    }

    .no-push {
        margin-left: 0%;
        transition: margin-left 0.75s;
    }

    .site-footer {
        font-size: small;
    }

    .review-text {
        width: 60%;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
    }

    .poster img {
        display: block;
        max-width: 50%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .details-header hr {
        width: 40%;
        font-size: large;
    }

    .details-table {
        font-size: large;
    }
}
