@import 'font.css';

/*-------------------------------- Common Settings ---------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}

.roboto {
    font-family: 'Roboto', system-ui;
}

.content {
    flex: 1 0 auto;
}
/*------------------------------------------------------------------------------------*/

/*----------------------------- Site Header Flex Layout ------------------------------*/
.site-header {
    display: flex;
    flex-direction: row;
}

.site-title {
    flex: 1;
    font-family: 'Roboto-Black', system-ui;
    font-size: 18px;
    color: #ffbf00;
    text-align: center;
    justify-content: center;
    margin-top: 0.7em;
    margin-bottom: 0;
}

@media only screen and (min-width: 500px) {
    .site-title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .site-title {
        font-size: 36px;
    }
}

.site-title a:link, .site-title a:visited, .site-title a:active {
    color: #ffbf00;
    text-decoration: none;
}

.memoji {
    flex: 0.1;
    height: 40px;
    width: 30px;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
}

@media only screen and (min-width: 500px) {
    .memoji {
        height: 75px;
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .memoji {
        height: 85px;
        width: 65px;
    }
}

/* Rounded border */
hr.rounded {
    width: 100%;
    border: 3px solid #ffbf00;
    border-radius: 5px;
}
/*------------------------------------------------------------------------------------*/

/*---------------------- Sidebar and Hidden Sidebar Variant --------------------------*/
.sidebar-toggle {
    flex: 0.01;
    width: 30px;
    padding-right: 0;
    margin-right: 0;
    text-align: left;
}

@media only screen and (min-width: 500px) {
    .sidebar-toggle {
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar-toggle {
        width: 90px;
    }
}

.sidebar {
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ffbf00;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.4s;
    z-index: 3;
}

@media only screen and (min-width: 600px) {
    .sidebar {
        width: 25%;
    }
}

@media only screen and (min-width: 900px) {
    .sidebar {
        width: 20%;
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar {
        width: 15%;
    }
}

@media only screen and (min-width: 1600px) {
    .sidebar {
        width: 10%;
    }
}

.sidebar-hidden {
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ffbf00;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: width 0.4s;
    z-index: 3;
}

.sidebar a:active, .sidebar-hidden a:active {
    color: white;
    text-decoration: underline;
}

.sidebar a, .sidebar-hidden a, .sidebar a:visited, .sidebar-hidden a:visited {
    color: blue;
    text-decoration: none;
}

.sidebar a:hover, .sidebar-hidden a:hover {
    color: black;
    opacity: 90%;
}

.sidebar span, .sidebar-hidden span {
    display: block;
    padding: 0;
    margin: 0;
    height: 10%;
    padding: 1rem;
    font-size: 16px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar-title {
    flex: 1;
    font-size: 36px;
    font-family: 'Roboto-Black', system-ui;
    text-align: left;
    color: black;
    margin-left: 5%;
}

.theme-toggle {
    font-family: "Roboto-Medium", system-ui;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition-duration: 0.4s;
}

.theme-toggle:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.sidebar-exit {
    flex: 0.01;
    text-align: right;
    margin-right: 5%;
}
/*------------------------------------------------------------------------------------*/

/*----------------------------------- Site Footer ------------------------------------*/
.site-footer {
    padding-top: 25px;
    text-align: center;
    font-size: x-small;
    height: 5em;
    flex-shrink: 0;
}

@media only screen and (min-width: 1200px) {
    .site-footer {
        font-size: small;
    }
}
/*------------------------------------------------------------------------------------*/

/*-------------------------------- Grid for Movie Lists ------------------------------*/
.year {
    font-family: "Roboto-Medium", system-ui;
    text-align: center;
    font-size: 28px;
}

.main-box {
    position: relative;
    margin: 0;
    width: 300px;
    /* padding-bottom: 1em; */
    /* margin-bottom: 1.5em; */
    /* background: black; (test border of container) */
    background: transparent;
    border-radius: 1em;
    /* box-shadow: 0px 0px 10px 5px #DA5D00; */
}

@media only screen and (min-width: 414px) {
    .main-box {
        width: 350px;
    }
}

@media only screen and (min-width: 725px) {
    .main-box {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-box {
        width: 400px;
    }
}

.main-box img {
    max-width: 100%;
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 414px) {
    .main-box img {
        width: 350px;
        height: 175px;
    }
}

@media only screen and (min-width: 725px) {
    .main-box img {
        width: 300px;
        height: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-box img {
        width: 400px;
        height: 200px;
    }
}

.main-box:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.2em;
    width: 100%;
    height: 75%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%) repeat 0 0;
    z-index: 1;
    border-radius: 1em;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: -1em;
    margin-bottom: -1em;
}

.main-box-left {
    font-family: "Roboto-Black", system-ui;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: 1em;
    z-index: 2;
}

.main-box-right {
    font-family: "Roboto-Medium", system-ui;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    color: white;
    z-index: 2; 
    text-align: right;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-right: 1em;
}

.main-box-top {
    font-family: "Roboto-Medium", system-ui;
    font-size: large;
    position: absolute;
    right: 0;
    top: 0;
    color: #1DFF8E;
    z-index: 2; 
    text-align: right;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-right: 1em;
    overflow: hidden;
}

@media only screen and (min-width: 400px) {
    .main-box-top {
        font-size: x-large;
    }
}

.main-box-count {
    font-family: "Roboto-Medium", system-ui;
    font-size: large;
    position: absolute;
    left: 15px;
    top: 0;
    color: #ffbf00;
    z-index: 2; 
    text-align: right;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-right: 1em;
    overflow: hidden;
}

@media only screen and (min-width: 400px) {
    .main-box-count {
        font-size: x-large;
    }
}

.movie-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 300px;
    grid-auto-columns: 300px;
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 414px) {
    .movie-grid {
        grid-template-columns: 350px;
        grid-gap: 40px;
    }
}

@media only screen and (min-width: 725px) {
    .movie-grid {
        grid-template-columns: 300px 300px;
        grid-gap: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .movie-grid {
        grid-template-columns: 400px 400px;
        grid-auto-columns: 400px;
        grid-auto-rows: 200px;
    }
}

@media only screen and (min-width: 1600px) {
    .movie-grid {
        grid-template-columns: 400px 400px 400px;
    }
}

@media only screen and (min-width: 2150px) {
    .movie-grid {
        grid-template-columns: 400px 400px 400px 400px;
    }
}

@media only screen and (min-width: 2700px) {
    .movie-grid {
        grid-template-columns: 400px 400px 400px 400px 400px;
    }
}
/*------------------------------------------------------------------------------------*/

/*--------------------------- Poster Grid For Watched List ---------------------------*/
.poster-grid {
    display: grid;
    grid-gap: 25px 15px;
    grid-template-columns: 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-content: center;
    align-items: start;
}

@media only screen and (min-width: 375px) {
    .poster-grid {
        grid-template-columns: 100px 100px 100px;
    }
}

@media only screen and (min-width: 500px) {
    .poster-grid {
        grid-template-columns: 100px 100px 100px 100px;
    }
}

@media only screen and (min-width: 725px) {
    .poster-grid {
        grid-template-columns: 100px 100px 100px 100px 100px 100px;
    }
}

@media only screen and (min-width: 900px) {
    .poster-grid {
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    }
}

.poster-box {
    position: relative;
    margin: 0;
    width: 100px;
    /* padding-bottom: 1em; */
    /* margin-bottom: 1.5em; */
    /* background: black; (test border of container) */
    background: transparent;
    /* box-shadow: inset 1px 1px black; */
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}

.poster-box img {
    max-width: 100%;
    width: 100px;
    height: 142px;
    /* border-radius: 0.1em; */
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

.poster-box figcaption {
    text-align: center;
}

/*------------------------------------------------------------------------------------*/

/*-------------------------- Review Text Styling and Layout --------------------------*/
.review {
    text-align: center;
    font-size: large;
}

@media only screen and (min-width: 800px) {
    .review-title {
        font-size: 2em;
    }

    .review-subtitle {
        font-size: 1.1em;
    }
}

.section-quote {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto-Black", system-ui;
}

.spoilers {
    margin: 1em 0em 0.25em 0em;
}

.spoilers hr {
    width: 50%;
    border: 3px solid #ffbf00;
    border-radius: 5px;
}

.spoilers p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.review-text {
    font-size: large;
    width: 95%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    .review-text {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .review-text {
        width: 70%;
    }
}

@media only screen and (min-width: 1600px) {
    .review-text {
        font-size: x-large;
    }
}

.inline-photo {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.inline-photo img {
    height: auto;
    width: 90%;
}

.inline-photo figcaption {
    border: 2px solid black;
    padding: 10px;
}

@media only screen and (min-width: 800px) {
    .inline-photo img {
        width: 70%;
    }
}
/*------------------------------------------------------------------------------------*/

/*------------------------- Works Cited (Can be after review) ------------------------*/
.mla-reference {
    padding-left: 5%;
    text-indent: -5%;
}

.works-cited-title {
    text-align: center;
}
/*------------------------------------------------------------------------------------*/

/*------------------------- Key Details Table (After Review) -------------------------*/
.details {
    text-align: center;
}

.details-header hr {
    width: 95%;
    border: 3px solid #ffbf00;
    border-radius: 5px;
}

@media only screen and (min-width: 800px) {
    .details-header hr {
        width: 50%;
    }   
}

@media only screen and (min-width: 1200px) {
    .details-header hr {
        width: 40%;
    }
}

.details-header p {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
    .details-header p {
        font-size: x-large;
    }
}

.details-table {
    font-size: medium;
    text-align: left;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 10px 0em;
}

@media only screen and (min-width: 500px) {
    .details-table {
        font-size: large;
    }
}

.details-table td {
    vertical-align: top;
}
/*------------------------------------------------------------------------------------*/

/*--------------------- Poster (After Key Details Table) ---------------------*/
.poster img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    .poster img { 
    /*
        display: block;
        max-width: 100%;
        height: auto;
        padding-top: 1em;
        margin-left: auto;
        margin-right: auto; 
    */
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .poster img {
        max-width: 50%;
    }
}
/*------------------------------------------------------------------------------------*/

/* --------------------------------- Plain Text Review List ------------------------- */

.review-list {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 400px) {
    .review-list {
        width: 80%;
    }
}

@media only screen and (min-width: 500px) {
    .review-list {
        width: 60%;
    }
}

@media only screen and (min-width: 650px) {
    .review-list {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) {
    .review-list {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .review-list {
        width: 25%;
        font-size: large;
    }
}

@media only screen and (min-width: 1600px) {
    .review-list {
        width: 20%;
    }
}

@media only screen and (min-width: 2000px) {
    .review-list {
        width: 15%;
    }
}

/*------------------------------------------------------------------------------------*/

/*------------------------------------- Light Mode -----------------------------------*/
/* User must be able to override OS default. Hence, CSS must repeated in both modes. */

@media(prefers-color-scheme: light) {
    a {
        color: #0000EE;
    }

    .site-header input {
        filter: invert(0%) sepia(0%) saturate(5%) hue-rotate(181deg) brightness(86%) contrast(100%);
    }

    hr.rounded {
        width: 100%;
        border: 3px solid #ffbf00;
        border-radius: 5px;
    }

    .theme-toggle {
        font-family: "Roboto-Medium", system-ui;
        padding: 10px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: black;
        transition-duration: 0.4s;
    }

    .theme-toggle:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
    }

    .main-box img {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    }

    .inline-photo figcaption {
        border: 2px solid black;
    }

    html[data-theme="dark"] body {
        background-color: #121212;
        color: #EEEEEE;
    }

    html[data-theme="dark"] a {
        color: lightblue;
    }

    html[data-theme="dark"] .sidebar a:link, 
    html[data-theme="dark"] .sidebar a:visited, 
    html[data-theme="dark"] .sidebar a:active, 
    html[data-theme="dark"] .sidebar-hidden a:link, 
    html[data-theme="dark"] .sidebar-hidden a:visited, 
    html[data-theme="dark"] .sidebar-hidden a:active 
    {
        color: #0000EE;
    }
    
    html[data-theme="dark"] .site-header input {
        /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); neon-green */
        filter: invert(89%) sepia(6%) saturate(1526%) hue-rotate(160deg) brightness(98%) contrast(85%); /* lightblue */
    }

    /* Rounded border */
    html[data-theme="dark"] hr.rounded {
        border: 3px solid #DA5D00;
    }

    html[data-theme="dark"] .theme-toggle {
        font-family: "Roboto-Medium", system-ui;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
        color: black;
        background-color: white;
        transition-duration: 0.4s;
    }

    html[data-theme="dark"] .theme-toggle:hover {
        border: 2px solid white;
        background-color: black;
        color: white;
    }

    html[data-theme="dark"] .spoilers hr {
        border: 3px solid #DA5D00;
    }

    html[data-theme="dark"] .inline-photo figcaption {
        border: 2px solid white;
    }

    html[data-theme="dark"] .main-box img {
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    }

    @media only screen and (min-width: 725px) {
        html[data-theme="dark"] .main-box img {
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
        }
    }

    html[data-theme="dark"] .details-header hr {
        border: 3px solid #DA5D00;
    }
}
/*------------------------------------------------------------------------------------*/

/*------------------------------------- Dark Mode ------------------------------------*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #EEEEEE;
    }

    a {
        color: lightblue;
    }

    .sidebar a:link, 
    .sidebar a:visited, 
    .sidebar a:active, 
    .sidebar-hidden a:link, 
    .sidebar-hidden a:visited, 
    .sidebar-hidden a:active 
    {
        color: #0000EE;
    }
    
    .site-header input {
        /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); neon-green */
        filter: invert(89%) sepia(6%) saturate(1526%) hue-rotate(160deg) brightness(98%) contrast(85%); /* lightblue */
    }

    hr.rounded {
        border: 3px solid #DA5D00;
    }

    .theme-toggle {
        font-family: "Roboto-Medium", system-ui;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
        color: black;
        background-color: white;
        transition-duration: 0.4s;
    }

    .theme-toggle:hover {
        border: 2px solid white;
        background-color: black;
        color: white;
    }

    .spoilers hr {
        border: 3px solid #DA5D00;
    }

    .inline-photo figcaption {
        border: 2px solid white;
    }

    .main-box img {
        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    }

    @media only screen and (min-width: 725px) {
        .main-box img {
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
        }
    }

    .details-header hr {
        border: 3px solid #DA5D00;
    }

    html[data-theme="light"] body {
        height: 100%;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        color: #000000;
    }

    html[data-theme="light"] a {
        color: #0000EE;
    }

    html[data-theme="light"] .site-header input {
        filter: invert(0%) sepia(0%) saturate(5%) hue-rotate(181deg) brightness(86%) contrast(100%);
    }

    html[data-theme="light"] hr.rounded {
        width: 100%;
        border: 3px solid #ffbf00;
        border-radius: 5px;
    }

    html[data-theme="light"] .theme-toggle {
        font-family: "Roboto-Medium", system-ui;
        padding: 10px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: black;
        transition-duration: 0.4s;
    }

    html[data-theme="light"] .theme-toggle:hover {
        border: 2px solid black;
        background-color: white;
        color: black;
    }
    
    html[data-theme="light"] .spoilers hr {
        border: 3px solid #ffbf00;
    }

    html[data-theme="light"] .inline-photo figcaption {
        border: 2px solid black;
    }

    html[data-theme="light"] .main-box img {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    }

    html[data-theme="light"] .details-header hr {
        border: 3px solid #ffbf00;
    }
}
/*------------------------------------------------------------------------------------*/