@import 'font.css';

.roboto {
    font-family: 'Roboto', system-ui;
}

/* Rounded border */
hr.rounded {
    width: 80%;
    border-top: 3px solid #ffbf00;
    border-radius: 5px;
}

.site-header {
    font-family: 'Roboto-Medium', system-ui;
    margin-bottom: 0;
    color: #ffbf00;
    text-align: center;
}

.site-footer {
    text-align: center;
}

.review {
    text-align: center;
}

.review-text {
    width: 50%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
